In [1]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

In [2]:
import requests
import re
pd.set_option('display.max_columns', None)

In [4]:
#FUNCION PARA PASAR CSV A LISTA DE TUPLAS

import math
action= pd.read_csv("info_peliculas_Comedy.csv")
# for i in comedy:
#     print(i)

lista_de_tuplas = list(action.itertuples(index=False, name=None))
lista_de_tuplas

# ## funcion para cuando de problemas de float en vez de enteros

# def to_int_if_possible(value):
#     if isinstance(value, float) and math.isnan(value):
#         return value
#     try:
#         return int(value)
#     except (ValueError, TypeError):
#        return value

# # # Convertir los elementos 2 y 3 de cada tupla
# lista_de_tuplas_modificada = [(tupla[0], tupla[1], to_int_if_possible(tupla[2]), to_int_if_possible(tupla[3]), tupla[4], tupla[5])
#  for tupla in lista_de_tuplas
# ]

# print(lista_de_tuplas_modificada)

[('tt0331312',
  7.8,
  'Awakening from a near fatal overdose, Chris embraces a second chance at life. Required to enroll into a 12-Step Program, and mandated to state psychiatrist appointments, Chris is forced to r... Read all',
  'This Wretched Life',
  'Frankie J. Mosca',
  'Frankie J. MoscaSal DeLuciaAnde Cira',
  '1h 39m',
  nan),
 ('tt0337882',
  7.2,
  nan,
  'Blind Sided',
  'Douglas A. Raine',
  'Jimmy LiftonPaulette Victor LiftonVirginia Perfili',
  nan,
  '66%'),
 ('tt0393049',
  5.8,
  "Nick Anderson, Kevin Daniels, and Tracey Green do everything together. They are the best of friends, and yet they couldn't be more different. Neighbors from adolescence, they finish each oth... Read all",
  "Anderson's Cross",
  'Jerome Elston Scott',
  'Jerome Elston Scott',
  '1h 38m',
  nan),
 ('tt0398286',
  7.7,
  'The magically long-haired Rapunzel has spent her entire life in a tower, but now that a runaway thief has stumbled upon her, she is about to discover the world for the first time, and who sh... Read all',
  'Enredados',
  'Nathan GrenoByron Howard',
  'Dan FogelmanJacob GrimmWilhelm Grimm',
  '1h 40m',
  nan),
 ('tt0423474',
  4.0,
  'When three Vegas buddies attempt the score of a lifetime, they have to walk a fine line between their girlfriends who want their heads, and the mobsters who want them dead.',
  'Venus & Vegas',
  'Demian Lichtenstein',
  'Eddie Guerra',
  '1h 35m',
  nan),
 ('tt0427152',
  5.9,
  'After he finds out that his work superiors host a dinner celebrating the idiocy of their special guests, a rising executive questions the merits of his invitation just as he befriends a man ... Read all',
  'La cena',
  'Jay Roach',
  'David GuionMichael HandelmanFrancis Veber',
  '1h 54m',
  nan),
 ('tt0435761',
  8.3,
  "The toys are mistakenly delivered to a day-care center instead of the attic right before Andy leaves for college, and it's up to Woody to convince the other toys that they weren't abandoned ... Read all",
  'Toy Story 3',
  'Lee Unkrich',
  'John LasseterAndrew StantonLee Unkrich',
  '1h 43m',
  nan),
 ('tt0449005',
  3.9,
  'Frustrated filmmaker, Barry Lick, and a crew of film school wannabees, attempt to make a documentary about a local businessman who he believes is involved in property rackets, prostitution, ... Read all',
  'Diary of a Bad Lad',
  'Michael Booth',
  'Jonathan Williams',
  '1h 32m',
  nan),
 ('tt0446029',
  7.6,
  "In a magically realistic version of Toronto, a young man must defeat his new girlfriend's seven evil exes one by one in order to win her heart.",
  'Scott Pilgrim contra el mundo',
  'Edgar Wright',
  "Michael BacallEdgar WrightBryan Lee O'Malley",
  '1h 52m',
  nan),
 ('tt0454155',
  6.5,
  'In a popular auction that matches the sinister and colorful of a circus of phenomena, a couple adopts children in exchange for their belongings. The children there acquired, usually mutilate... Read all',
  'El hada buena - Una fábula peronista',
  'Laura Casabe',
  'Laura CasabeTomas Wortley',
  '1h 25m',
  nan)]

In [22]:
## VERSION FASE 1

import mysql.connector

# Conectarse a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto2')

mycursor = cnx.cursor()

# SQL para insertar datos en la tabla peliculas
sql = "INSERT INTO datos_fase1 (Tipo, Nombre, Mes, Año, id_pelicula, Genero) VALUES (%s, %s, %s, %s, %s, %s)"

# Datos a insertar
val1 = lista_de_tuplas_modificada

# Contador de registros insertados
registros_insertados = 0

# creamos bucle para iterar sobre los registros de manera individual, si encuentra el error 1062 lo omite y si encuentra otro para para avisarnos
for registro in val1:
    try:
        mycursor.execute(sql, registro)
        cnx.commit()
        registros_insertados += 1
    except mysql.connector.Error as err:
        if err.errno == 1062:
            # Error de duplicado, omitir y continuar
            print(f"Error: Registro duplicado {registro}. Omitiendo este registro.")
        else:
            # Otro error, mostrar y parar
            print(f"Error: {err}")
            break

print(f"{registros_insertados} registro/s insertado/s.")

# Cerrar el cursor y la conexión
mycursor.close()
cnx.close()

Error: Registro duplicado ('Movie', "Anderson's Cross", 5, 2010, 'tt0393049', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'El hada buena - Una fábula peronista', 4, 2010, 'tt0454155', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Harlem Hostel', 2, 2010, 'tt0469094', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'The Rum Diary', 12, 2011, 'tt0376136', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Seven Fallen Objects', 5, 2011, 'tt0407194', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Satin', 3, 2011, 'tt0433397', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Generation P', 4, 2011, 'tt0459748', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Silent Alarm', 1, 2011, 'tt0462536', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Act Your Age', 4, 2011, 'tt0464891', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Something Borrowed', 6, 2011, 'tt0491152', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Acorralados', 6, 2012, 'tt0426566', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Sushi in Suhl', 10, 2012, 'tt0485521', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'A Thousand Words', 3, 2012, 'tt0763831', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Return to Babylon', 8, 2013, 'tt0255820', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'The Secret Life of Walter Mitty', 1, 2014, 'tt0359950', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Syrup', 5, 2013, 'tt0762138', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Santorini Blue', 5, 2013, 'tt0780625', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'La mula', 5, 2013, 'tt0804509', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'The Wolf of Wall Street', 1, 2014, 'tt0993846', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Before We Go', 11, 2020, 'tt0443465', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'A Long Way Down', 3, 2014, 'tt0458413', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Kid Cannabis', 7, 2014, 'tt0780548', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'A Merry Christmas Miracle', 11, 2014, 'tt0910885', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Out of Sight', 11, 2014, 'tt0959306', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Transeúntes', 4, 2015, 'tt0346045', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Hail, Caesar!', 2, 2016, 'tt0475290', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Retreat!', 8, 2016, 'tt0838194', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Quan jia fu', 10, 2017, 'tt0087963', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'La telenovela errante', 9, 2018, 'tt0100275', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Joe Finds Grace', 4, 2017, 'tt0137204', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Suburbicon', 11, 2017, 'tt0491175', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Caravaggio and My Mother the Pope', 12, 2017, 'tt0825334', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Krystal', 4, 2018, 'tt0835802', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Nappily Ever After', 9, 2018, 'tt0365545', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'The Dirt', 3, 2019, 'tt0800325', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Surviving in L.A.', 8, 2020, 'tt0446792', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Jak najdalej stad', 8, 2021, 'tt10004368', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Short', 'The Last Queen on Earth', 8, 2020, 'tt10005772', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Short', 'Welcome to Mumbai', 3, 2021, 'tt10040326', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Milli Vanilli', nan, 2022, 'tt0965381', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Laal Singh Chaddha', 8, 2022, 'tt10028196', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Bad Boy', 4, 2023, 'tt10351180', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'Next Goal Wins', 1, 2024, 'tt10767052', 'Drama'). Omitiendo este registro.
Error: Registro duplicado ('Movie', 'IF', 5, 2024, 'tt11152168', 'Drama'). Omitiendo este registro.
198 registro/s insertado/s.

In [10]:
## VERSION FASE 2

import mysql.connector

# Conectarse a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto2')

mycursor = cnx.cursor()

# SQL para insertar datos en la tabla peliculas
sql = "INSERT INTO datos_fase2 (id_pelicula,puntuacion_imdb,Argumento,Titulo_Pelicula,Directores,Guionistas,Duracion_Peli,Puntuacion_Tomatoes) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"

# Datos a insertar
val1 = lista_de_tuplas

# Contador de registros insertados
registros_insertados = 0

# creamos bucle para iterar sobre los registros de manera individual, si encuentra el error 1062 lo omite y si encuentra otro para para avisarnos
for registro in val1:
    try:
        mycursor.execute(sql, registro)
        cnx.commit()
        registros_insertados += 1
    except mysql.connector.Error as err:
        if err.errno == 1062:
            # Error de duplicado, omitir y continuar
            print(f"Error: Registro duplicado {registro}. Omitiendo este registro.")
        else:
            # Otro error, mostrar y parar
            print(f"Error: {err}")
            break

print(f"{registros_insertados} registro/s insertado/s.")

# Cerrar el cursor y la conexión
mycursor.close()
cnx.close()

Error: Registro duplicado ('tt0331312', 7.8, 'Awakening from a near fatal overdose, Chris embraces a second chance at life. Required to enroll into a 12-Step Program, and mandated to state psychiatrist appointments, Chris is forced to r... Read all', 'This Wretched Life', 'Frankie J. Mosca', 'Frankie J. MoscaSal DeLuciaAnde Cira', '1h 39m', nan). Omitiendo este registro.
9 registro/s insertado/s.

In [ ]:
## VERSION FASE ACTORES

import mysql.connector

# Conectarse a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto2')

mycursor = cnx.cursor()

# SQL para insertar datos en la tabla peliculas
sql = "INSERT INTO  () VALUES (%s, %s, %s, %s, %s, %s)"

# Datos a insertar
val1 = 

# Contador de registros insertados
registros_insertados = 0

# creamos bucle para iterar sobre los registros de manera individual, si encuentra el error 1062 lo omite y si encuentra otro para para avisarnos
for registro in val1:
    try:
        mycursor.execute(sql, registro)
        cnx.commit()
        registros_insertados += 1
    except mysql.connector.Error as err:
        if err.errno == 1062:
            # Error de duplicado, omitir y continuar
            print(f"Error: Registro duplicado {registro}. Omitiendo este registro.")
        else:
            # Otro error, mostrar y parar
            print(f"Error: {err}")
            break

print(f"{registros_insertados} registro/s insertado/s.")

# Cerrar el cursor y la conexión
mycursor.close()
cnx.close()

In [ ]:
## VERSION FASE OSCARS

import mysql.connector

# Conectarse a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto2')

mycursor = cnx.cursor()

# SQL para insertar datos en la tabla peliculas
sql = "INSERT INTO  () VALUES (%s, %s, %s, %s, %s, %s)"

# Datos a insertar
val1 = 

# Contador de registros insertados
registros_insertados = 0

# creamos bucle para iterar sobre los registros de manera individual, si encuentra el error 1062 lo omite y si encuentra otro para para avisarnos
for registro in val1:
    try:
        mycursor.execute(sql, registro)
        cnx.commit()
        registros_insertados += 1
    except mysql.connector.Error as err:
        if err.errno == 1062:
            # Error de duplicado, omitir y continuar
            print(f"Error: Registro duplicado {registro}. Omitiendo este registro.")
        else:
            # Otro error, mostrar y parar
            print(f"Error: {err}")
            break

print(f"{registros_insertados} registro/s insertado/s.")

# Cerrar el cursor y la conexión
mycursor.close()
cnx.close()

In [ ]:
# VERSION CON VARIOS VALORES - no usar ahora


import mysql.connector

# Conectarse a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto2')

mycursor = cnx.cursor()

# SQL para insertar datos en la tabla peliculas
sql = "INSERT INTO datos_fase1 (Tipo, Nombre, Año, Mes, id_pelicula, Genero) VALUES (%s, %s, %s, %s, %s, %s)"

# Datos a insertar
val1 = lista_de_tuplas_modificada

val2 = [
    (7.7, 77, "Richard Donner", ["Chris Columbus", "Steven Spielberg"], "Los Goonies son un grupo de amigos que viven en Goon Docks, Astoria, pero sus casas han sido compradas y van a ser demolidas. Sin embargo, vivirán su última aventura en busca de un tesoro que pueda salvar el barrio.", "Aventura", "1h 54min", "Los Goonies"),
    (8.5, 85, "Director 2", ["Guionista 1", "Guionista 2"], "Sinopsis de Otra Pelicula", "Género de Otra Pelicula", "2h 10min", "Otra Pelicula"),
    # Agrega más detalles de películas correspondientes a val1
]

val = []

# Asegurarse de que las listas tengan la misma longitud
min_len = min(len(val1), len(val2))

# Procesar los datos para cada película
for i in range(min_len):
    tipo = val1[i][0]
    titulo = val1[i][1]
    fecha_estreno = val1[i][2]
    id_pelicula = val1[i][3]
    imdb = val2[i][0]
    tomatoes = val2[i][1]
    directores = ','.join(val2[i][2])
    guionistas = ','.join(val2[i][3])
    argumento = val2[i][4]
    genero = val2[i][5]
    duracion = val2[i][6]
    titulo2 = val2[i][7]
    
    val.append((tipo, titulo, fecha_estreno, id_pelicula, imdb, tomatoes, directores, guionistas, argumento, genero, duracion, titulo2))

try:
    mycursor.executemany(sql, val)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")
except mysql.connector.Error as err:
    print("Error: {}".format(err))
finally:
    mycursor.close()
    cnx.close()